<!DOCTYPE html>
<html>

<head>
  <%- include('parts/libraries-css') %>
  <title><%= config.site_name %> - Permission Denied</title>
</head>

<body>
  <%- include('parts/navbar') %>

  403 Permission Denied

  <%- include('parts/libraries-js') %>
</body>

</html>