<!DOCTYPE html>
<html>

<head>
  <%- include('parts/libraries-css') %>
  <title><%= config.site_name %> - Permission Denied</title>
</head>

<body>
  <%- include('parts/navbar') %>

  <div class="container">
    404 Page Not Found
  </div>

  <%- include('parts/libraries-js') %>
</body>

</html>